
/* --------------------------------GŁOWNY-------------------------------- */
body{
    color: #1E1E1E;
    overflow-y: none;
    margin: 0;
    padding: 0;
    background-color: #7E102C;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%237E102C' cx='50' cy='0' r='50'/%3E%3Cg fill='%23841f31' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%238a2b36' cx='50' cy='100' r='50'/%3E%3Cg fill='%238f353c' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23953f42' cx='50' cy='200' r='50'/%3E%3Cg fill='%239a4948' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%239f534e' cx='50' cy='300' r='50'/%3E%3Cg fill='%23a45c55' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a9655c' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ae6e64' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b3776c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23b88174' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bd8a7d' cx='50' cy='600' r='50'/%3E%3Cg fill='%23c19385' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c69c8f' cx='50' cy='700' r='50'/%3E%3Cg fill='%23cba598' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cfaea2' cx='50' cy='800' r='50'/%3E%3Cg fill='%23d4b7ac' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d8c1b6' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ddcac1' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23E1D3CC' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    
    background-color: #E1D3CC;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23E1D3CC' cx='50' cy='0' r='50'/%3E%3Cg fill='%23ddcac1' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23d8c1b6' cx='50' cy='100' r='50'/%3E%3Cg fill='%23d4b7ac' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23cfaea2' cx='50' cy='200' r='50'/%3E%3Cg fill='%23cba598' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c69c8f' cx='50' cy='300' r='50'/%3E%3Cg fill='%23c19385' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23bd8a7d' cx='50' cy='400' r='50'/%3E%3Cg fill='%23b88174' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b3776c' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ae6e64' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a9655c' cx='50' cy='600' r='50'/%3E%3Cg fill='%23a45c55' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%239f534e' cx='50' cy='700' r='50'/%3E%3Cg fill='%239a4948' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23953f42' cx='50' cy='800' r='50'/%3E%3Cg fill='%238f353c' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%238a2b36' cx='50' cy='900' r='50'/%3E%3Cg fill='%23841f31' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%237E102C' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: contain;
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    border-bottom: #0D2B1D solid 1px;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----------------------------------MAIN-------------------------------------- */
main{
    height: 85%;
    width: 100%;
    display: block;
    position: absolute;
    top: 15%;
}
/* --------------aboutMe------------------ */
#aboutMe{
    width: 80%;
    height: auto;
    background-color: #E1D3CC;
    margin: 5% 10% 5% 10%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px;
}
#aboutMeTitle{
    border-radius: 10px 10px 0px 0px;
    background-color: #cfafaf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    border-bottom: solid 1px #0D2B1D ;
}
#aboutMeMain p{
    margin: 2% 5% 5% 5%;   
}
#aboutMeMain{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
     
    box-sizing: border-box;
}
/* --------------mySkils---------------- */
#mySkills{
    width: 80%;
    height: auto;
    background-color: #E1D3CC;
    margin: 5% 10% 5% 10%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px;
    box-sizing: border-box;
}
#mySkillsTitle{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #0D2B1D;
    border-radius: 10px 10px 0px 0px;
    background-color: #cfafaf;
}
#skills{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: 5%;
}
.skill{
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width:20%;
    height: 90px;
    
    margin: 1% 5% 1% 1%;
    
    background-color: #D7A9A8;
    border-radius: 15px;
    border: solid 1px #D7A9A8;
    cursor: pointer;
    box-shadow: 0px 0px 20px 1px;
    
}

 .tooltip {
    display: block;
    visibility: visible;
    opacity: 0;
    width: 300px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    
    left: 70%;
    
    transition: opacity 0.8s;
    z-index: 1;
  }

  /* Wyświetlanie tooltipa przy najechaniu */
  .skill:hover .tooltip {
    visibility: visible;
    display: block;
    opacity: 1;
  }
/* --------------myProjects--------------- */
#myProjects{
    width: 80%;
    height: auto;
    background-color: #E1D3CC;
    margin: 5% 10% 5% 10%;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px;
    box-sizing: border-box;
}
#myProjectsTitle{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #0D2B1D;
    background-color: #cfafaf;
    border-radius: 10px 10px 0px 0px;
}
#projectExample{
    width: 90%;
    height: 300px;
    padding: 5%;
}
.project{
    display: flex;
    align-items: center;
    justify-content: center;
    width:30%;
    height: 90px;
    
    
    background-color: #cfafaf;
    border-radius: 15px;
    border: solid 1px #cfafaf;
    
    box-shadow: 0px 0px 20px 2px;
    
}
.project:hover{
    border: solid 1px;
}
.project a{
    text-decoration: none;
    color: #1E1E1E;
}

/* --------------FOOTER----------------- */

footer{
    width: 80%;
    height: 50px;
    background-color: #cfafaf;
    margin: 5% 10% 10px 10%;

    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px;

    display: flex;
    justify-content: center;
    align-items: center;
}
footer h3{
    color: #1E1E1E;
    text-decoration: none;
    padding: 5px;
}
#gmail{
    margin-right: 10px;
}
#rep{
    margin-left: 10px;
}
footer a{
    color: #1E1E1E;
    text-decoration: none;
}